[2017-01-31 18:48] ggreg opened #3 "Support Kerberos authentication"

[2017-01-31 18:49] ggreg opened #4 "Use presto-product-tests docker-compose config to run integration tests"

[2017-01-31 18:49] ggreg opened #5 "Add support for transactions"
Presto provides 3 SQL statements to control transactions:
- [`START TRANSACTION`](https://prestodb.io/docs/current/sql/start-transaction.html)
- [`COMMIT`](https://prestodb.io/docs/current/sql/commit.html)
- [`ROLLBACK`](https://prestodb.io/docs/current/sql/rollback.html)

The *client* begins a transaction by sending a `START TRANSACTION` statement with a `X-Transaction-Id=NONE` header to the *coo

[2017-01-31 18:49] ggreg opened #6 "Add support for PREPARE statement"

[2017-03-29 01:26] UglyTroLL opened #7 "Expose query status from cursor"
Would be awesome if we can get the query status from cursor, like the nextUri

[2017-03-30 18:30] ggreg commented on #7
Can you describe some use cases you would like to handle?

[2017-03-31 03:03] UglyTroLL commented on #7
@ggreg Yes sure, basically, we want to be able to track the progress (and the presto tracking url) after the query start running, but currently there is no way to get that from `Cursor` if I'm correct? Thanks!

[2017-04-04 19:52] ggreg commented on #5
Presto provides 3 SQL statements to control transactions:
- [`START TRANSACTION`](https://prestodb.io/docs/current/sql/start-transaction.html)
- [`COMMIT`](https://prestodb.io/docs/current/sql/commit.html)
- [`ROLLBACK`](https://prestodb.io/docs/current/sql/rollback.html)

The *client* should begin the transaction by sending a `START TRANSACTION` statement with a `X-Transaction-Id=NONE` header to

[2017-04-06 22:43] moshir opened #9 "creating the same table twice does not throw any error"
When I create the same table twice, no error get thrown at all ...

[2017-04-14 00:22] ggreg commented on #9
@moshir can you share the SQL statement and some details about your Presto setup (like the *catalogs*)?

[2017-06-13 19:21] ggreg opened #12 "Add interface to set connection and read timeout"
Some environment are more exposed to network congestion or JVM stalls, for example from full GC. However it costs more when the client abandons the query and submits it again, than to have longer timeouts at the socket level. Batch computations are usually less latency sensitive and more tolerant to higher timeouts.

`requests`allows to set the sockets connection and read timeouts. The `dbapi.Curs

[2017-06-13 19:24] ggreg opened #13 "Add interface to set custom HTTP headers"
`dbapi.Cursor` should provide an interface to set custom HTTP headers in Presto queries.

[2017-06-15 22:58] #13 closed

[2017-06-16 21:48] #12 closed

[2017-06-21 06:48] highker commented on #7
Resolved https://github.com/prestodb/presto-python-client/pull/17

[2017-06-21 06:48] #7 closed

[2017-06-28 17:37] highker opened #22 "Investigate how retries should be handled"
Mainly two types of issues to consider:
- Do we want to handle retry at query level in the client or users should be able to handle that for their own?
- In either case above, can we have some mechanism to flag if an error is retriable (e.g., corrupted data vs connection glitch) and at what level (engine, python-client, or users)?

[2017-07-30 02:43] highker opened #31 "Retry fails with 503"
Retry currently lives at http.`post`/`get`/`delete` level. 503 error is handled in `process()`. Raising a 503 error in `process()` is not going to invoke retry. This could also be a problem with authentication retry. Need to think about how to abstract retry in a more generic way.

[2017-08-01 06:40] #31 closed

[2017-08-01 06:57] highker opened #34 "Handle redirects with kerberos"
Looks like the problem (https://github.com/requests/requests-kerberos/issues/64) is not going to be resolved anytime soon. As discuss, we need to provide the client a customized way to handle redirects

[2017-08-12 01:24] highker opened #36 "Handle unicode properly with urlunparse"
Stacktrace in production:
[code]

The error won't occur if the following import is removed:
`from __future__ import unicode_literals`

Similar issue:
https://github.com/jfinkels/flask-restless/issues/594
https://github.com/rst2pdf/rst2pdf/issues/596

[2017-08-15 21:58] #36 closed

[2017-08-15 22:18] highker commented on #34
resolved by https://github.com/prestodb/presto-python-client/pull/30

[2017-08-15 22:18] highker commented on #3
resolved by https://github.com/prestodb/presto-python-client/pull/30

[2017-08-15 22:19] highker opened #38 "Add style check to travis"
pep8 could be a good choice

[2017-08-25 05:50] #34 closed

[2017-08-28 01:20] #3 closed

[2017-09-05 18:53] ggreg opened #43 "Run mypy in continuous integration"
The main parts of the code are covered with type annotations. mypy will detect issues even in code not covered by unit and integration tests.

[2017-09-19 17:27] electrum opened #44 "Add support for basic auth"

[2017-10-26 23:19] #5 closed

[2017-10-26 23:21] ggreg opened #45 "Transaction commit fails with ABANDONED error"
We saw data pipelines where the transaction was reported as successfully but the Presto query logs show that the `COMMIT` statement failed with an `ABANDONED_QUERY` error.

[2017-10-30 16:57] ggreg opened #47 "Replace StopIteration by return"
See rationale and details in [PEP-0479](https://www.python.org/dev/peps/pep-0479/)

[2017-10-31 05:54] #45 closed

[2017-11-05 16:18] parisni opened #48 "kerberos auth documentation"
hi there

Any example in the documentation on how to connect to a kerberized presto coordinator
from your lib ?

thanks by advance

[2017-11-28 19:29] Vardhan17 opened #49 "SSL Connection to Presto"
I want to connect to an SSL enabled port using username & password, but I am not able to find any example of it on the web. The Presto is hosted on EMR cluster.

Is there a possibility to use password at all?

[2017-12-16 10:20] hustwolf commented on #49
i have the same problem
is there any answer?

[2017-12-20 06:18] highker commented on #49
Do we know if we support SSL? @electrum

[2017-12-20 06:18] highker commented on #9
Close as there is no follow up on this.

[2017-12-20 06:18] #9 closed

[2017-12-20 06:27] highker commented on #48
Try something like this

[code]

Then make a new connection with `_auth`

[2017-12-21 11:39] tommarute commented on #48
@highker

Thank you for your comment. I tried it. But I saw an error in below.

`NameError: name 'KerberosAuthentication' is not defined`

[requests-kerberos](https://github.com/requests/requests-kerberos/) doesn't seems to have KerberosAuthentication.

You mean use [this](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/authentication/KerberosAuthe

[2017-12-21 11:53] tommarute commented on #48
I'm sorry. I can import in this way.

[code]

[2017-12-24 15:37] hustwolf commented on #49
i use **pyhive** as the python client to presto
it supports ssl

[2018-01-04 20:07] ggreg commented on #49
Looks like the problem here to use plain HTTP username/password authentication and to passe this information to the client.

[2018-01-04 20:08] ggreg commented on #49
Basic auth is mentioned in #44.

[2018-01-16 19:34] highker opened #51 "Add TLS support"
Ideally we need to have this supported by the end of January.

[2018-01-24 09:33] qli-aa opened #52 "autocommit issue"
presto-python-client == 0.4.1
Presto server == 0.166

after i ran insert sql, after about 5mins, presto will rollback and delete the data in the table? is there some bugs or hints?

i just follow the README to write the SQL

[2018-01-24 13:06] qli-aa commented on #52
Tested with Presto 0.152.3, it was ok, I guess some changes  with Presto server code which leads this issue

[2018-01-25 00:24] qli-aa commented on #52
If I use SQLWorkbench/J with JDBC, both version was ok

[2018-02-05 02:01] 92chabuduo commented on #48
@tommarute. can you show an complete example of how to use '_auth' above, Thanks.

[2018-02-06 00:47] ggreg opened #54 "Add cookie support for sticky redirects by gateway"

[2018-02-06 00:49] ggreg commented on #52
Can you paste the code you used? Did you create the `PrestoConnection` in a `with` statement?

[2018-02-06 15:07] tommarute commented on #48
@92chabuduo

Hi

I'm sorry to say that I haven't been able to run kerberos auth by using this client.

My sample code is [here](https://gist.github.com/tommarute/b9c37d374664079910e51085cf48cd23).
It doesn't work.

So I changed presto client from prestodb to [pyhive](https://github.com/dropbox/PyHive).

FWIW, This is [pyhive sample code](https://gist.github.com/tommarute/9e6c18350964d99988667707b6

[2018-02-06 17:00] parisni commented on #48
@tommarute are you sure your pyhive code is using kerberos ? I cannot find any mention of kerberos token in it

[2018-02-06 20:28] brentonmallen1 opened #55 "image not found & No module named 'kerberos_sspi'"
When I try to import prestodb I get the following error

[code]

[2018-02-07 00:28] ggreg opened #56 "Provide API to serialize pandas dataframe"

[2018-02-07 00:55] tommarute commented on #48
@parisni
You're completely right.
It seems that our presto doesn't require Kerberos authentication.
I'm sorry for the confusion.

[2018-02-07 18:56] PaulSorenson commented on #56
This would be really cool. If the serialization was built on native python types (list of dicts for example) it would be more generally useful and I could definitely use it to serialize dataframes.

To serialize dataframes at the moment I need to write out a CSV and use hive LOAD DATA statements.

[2018-02-07 20:28] ggreg commented on #56
@PaulSorenson can you provide an example of:
1. What happens now and is not good for you
2. What would you like, for example in term of API (feel free to use a "fake" interpreter session to show it, a bit like writing a doctest)

[2018-02-07 22:48] ggreg commented on #56
Discussed offline, the ask is to provide an API to stream collections such as pandas dataframe to Presto.

[2018-02-08 20:14] brentonmallen1 commented on #55
For those who might come across this in the future, I was able to fix the issue.

Turns out that `pykerberos` was having some issues and they recommend using `kerberos` ( https://github.com/02strich/pykerberos).  I was also missing another dependency, `krb5`.

I'm using a conda environment so I installed them by doing the following:

`conda install krb5`
`pip install kerberos`

[2018-02-08 20:14] #55 closed

[2018-02-21 18:57] dswalter commented on #56
You may find the following sketch helpful for serializing. It's not production-ready or stream-friendly, and it waits until the result is finished to convert to a pd DataFrame. This version is notebook-friendly in that interrupting a cell in a notebook does interrupt the cell.

[code]

[2018-03-20 03:35] kylase opened #58 "Making a INSERT query synchronous"
Currently when an INSERT statement is run, the request will return a `PrestoResultObject` immediately, is there a way to make the query synchronous?

[2018-03-27 19:21] ggreg commented on #58
@kylase can you please share the code you're running?

[2018-05-07 14:48] brentonmallen1 opened #61 "No module named 'kerberos_sspi'"
I ran the following but when I try to import `prestodb` I get a `No module named 'kerberos_sspi'` error.  I've tried several things but can't seem to figure out what's going on here.  Any thoughts?

[code]

[2018-05-07 14:52] #61 closed

[2018-06-05 06:59] elgalu commented on #6
Is this the same as https://github.com/prestodb/presto/pull/10673 ?

[2018-07-05 18:12] ggreg commented on #54
Closed by #60

[2018-07-05 18:12] #54 closed

[2018-07-12 23:18] matthewwardrop opened #63 "Make stats polling asynchronous"
Greetings all!

I'm looking to transition a project I curate (omniduct, a library to simplify data acquisition, especially for data scientists) from `pyhive` to `prestodb`; but currently I would lose the ability to poll for query progress before actually attempting to retrieve results.

i.e. `cursor.fetchone()` is used to both collect results and update stats, which means that I cannot show progre

[2018-07-13 18:52] ggreg opened #64 "Add a class to wrap TLS authentication"
[`prestodb.auth`](https://github.com/prestodb/presto-python-client/blob/master/prestodb/auth.py) provides an interface to setup authentication in the client. It currently defines the `Authentication` abstract interface and `KerberosAuthentication`. The purpose of this issue is to add a class to setup TLS client authentication.

[2018-07-13 18:55] ggreg opened #65 "Make dependency to request_kerberos optional"
[`prestodb.auth`](https://github.com/prestodb/presto-python-client/blob/master/prestodb/auth.py) module provides a concrete class to setup Kerberos authentication. It requires the dependency *requests_kerberos* that eventually depends on a native library. This native library introduces complexity to build presto-python-client whereas most people don't need it. The purpose of this issue is to relax

[2018-07-31 11:40] mayankjuneja opened #66 "latest version not pushed to pypi"
Hi, can someone please push the latest version (0.5.x) to pypi? The latest version available on [pypi](https://pypi.org/project/presto-python-client/#history) is 0.4.2. Also, looks like https://github.com/prestodb/presto-python-client/pull/53 is not part of the latest release.

Thanks!

[2018-08-01 10:35] tnesztler commented on #66
In the mean time, you can install it from the GitHub repository using pipenv `presto-python-client = {git = "https://github.com/prestodb/presto-python-client", ref = "3ab5b69"}` and pinning it to the commit fixing #53.

[2018-08-31 05:52] shaswatshah commented on #66
Bump. Running into requirements conflict because of this

[2018-09-21 04:59] prakashin77 commented on #49
Hi
I even tried with PyHive. Still facing issues

[2018-09-25 22:44] ggreg commented on #66
#53 was merged [after](https://github.com/prestodb/presto-python-client/commits/master) 0.5.0. I'll publish a version, most likely 0.5.1, that includes it tonight.

[2018-09-25 23:10] ggreg commented on #66
Uploaded 0.5.1 https://pypi.org/project/presto-python-client/#files

[2018-09-25 23:13] #66 closed

[2018-10-08 21:52] xerial commented on #65
We also had the same issue when trying to use this client on Google Colaboratory https://colab.research.google.com

It would be great if you can make it an optional requirement.

[2018-10-08 21:59] ggreg commented on #65
@xerial This should land soon!

[2018-10-08 22:09] xerial commented on #65
@ggreg Thanks. FYI, ibis project is already implementing this approach by preparing a flag for optional installation of kerberos module:
https://github.com/ibis-project/ibis/blob/master/setup.py#L27

[2018-12-21 18:20] #65 closed

[2019-01-09 10:32] jacibreiro commented on #48
Does anyone have authentication against kerberized presto-coordinator working? Could you provide any example? This is my example code:

import prestodb
from prestodb.auth import KerberosAuthentication

KRB5_CONFIG = "/etc/krb5.conf"
CA_BUNDLE = "/etc/ca-chain.crt"

_auth = KerberosAuthentication(
    config=KRB5_CONFIG,
    service_name='HTTP',
    mutual_authentication=False,
    ca_bundle=CA_BUN

[2019-01-10 15:35] jacibreiro commented on #48
If somebody is interested, above code works. The problem was that the user running the code didn't have permission over the keytab. It is already solved.

[2019-01-18 10:45] Hyurt commented on #49
@ggreg Indeed Basic auth is needed. We used RPresto for querying with R. I provided and example here https://github.com/prestodb/RPresto/issues/107
However we need to ensure that the user passed into the basic auth is the same that the one used when querying. Otherwise you could by-pass access control rules and query catalogs or schemas that you shouldn't be allowed to query.

[2019-02-15 00:01] ggreg commented on #63
@matthewwardrop yes, we would welcome a patch to add support polling stats independently of fetching results. We're not currently working on it, so your contribution would be greatly appreciated :).

1. What stats are you the most interest in?
2. What options are you considering to gather stats?

Regarding (2.), the client could sent a GET HTTP request to a `/1/query/{query_id}` endpoint.

At some

[2019-02-15 00:14] ggreg opened #72 "Add support for Presto warnings"
Since version 0.209, Presto may return a list of [warnings](https://github.com/prestodb/presto/blob/master/presto-spi/src/main/java/com/facebook/presto/spi/PrestoWarning.java) in the _warnings_ field of the JSON struct returned by then coordinator when the client polls the status of a query.

The warning are useful to surface issues in queries at runtime.

_warnings_ would be exposed as an attribu

[2019-02-15 00:23] ggreg commented on #52
@qli-aa if it's still an issue, can you please share the code you ran?

[2019-02-15 00:24] ggreg commented on #49
Superseded by #44

[2019-02-15 00:24] #49 closed

[2019-02-15 00:37] ggreg opened #73 "Add instrumentation"
Provide an interface to publish errors, stats, and profiling information to an external system.

[2019-02-15 00:44] ggreg opened #74 "Provide an async implementation"
The current interface returns a generator of result rows and is mostly used synchronously. Leveraging `async` in Python 3 would allow to better utilize resources when managing parallel and concurrent queries.

One challenge is to keep compatibility with Python 2.7.

[2019-02-15 17:56] matthewwardrop commented on #63
Hi @ggreg,

Thanks for responding to this.

I'm interested in all of the stats that are returned by the standard endpoints, but most especially the 'progress' field. In terms of methodology, I am imagining polling the same endpoints currently used by `PrestoQuery.fetch` and returning stats. At some point, this will return data and/or will enter a finished state, and any returned data will be cache

[2019-02-28 01:12] linxingyuan1102 commented on #44
Hi I added the support for basic authentication and submitted a pull request. Could you give it a review?

Link: https://github.com/prestodb/presto-python-client/pull/75

[2019-03-08 13:30] AntoniosHadji commented on #48
Has anyone figured out how to include a password for the cert? I am getting an ssl error and I believe it is because the cert I am using requires a password. I can connect via presto cli but not with this python client

[2019-03-26 18:58] takuti opened #76 "v0.6.0 is not released to pypi"
Can you push the latest version to PyPI?

https://pypi.org/project/presto-python-client/

Workaround:

[code]

[2019-04-04 23:15] takuti commented on #76
@ggreg Ping...

[2019-04-05 03:23] anant-g commented on #76
Could not find a version that satisfies the requirement presto-python-client===0.6.0 (from versions: 0.1.0, 0.2.0, 0.3.0, 0.4.0, 0.4.1, 0.4.2, 0.5.1)
No matching distribution found for presto-python-client===0.6.0

[2019-04-06 10:38] gigname opened #78 "presto python client not installing"
ankit@ankit:~$ docker run hello-world

Hello from Docker!
This message shows that your installation appears to be working correctly.

To generate this message, Docker took the following steps:
 1. The Docker client contacted the Docker daemon.
 2. The Docker daemon pulled the "hello-world" image from the Docker Hub.
    (amd64)
 3. The Docker daemon created a new container from that image which ru

[2019-04-10 19:27] ggreg commented on #76
It is available now https://pypi.org/project/presto-python-client/

[2019-04-10 19:27] ggreg commented on #76
Thanks for you patience and sorry for the delay

[2019-04-10 19:27] #76 closed

[2019-04-10 19:29] ggreg commented on #78
Can you `apt-get install libgssapi-dev` and retry?

[2019-04-11 00:35] gigname commented on #78
![image](https://user-images.githubusercontent.com/9977811/55922656-cfb50780-5c1f-11e9-9f14-4d48fc36a12d.png)

[2019-04-11 04:40] ggreg opened #79 "Support only Python3"
Python2.7's end of life is Jan 1st, 2020. See [countdown](https://pythonclock.org/). Do we need to still support Python2.7? When can we switch to Python3 only? It will simplify the implementation of some features such as asyncio, type annotation is language syntax instead of commends, not dependency to six or future.

[2019-04-11 04:44] ggreg commented on #78
`libgssglue-dev` looks OK. Otherwise you can try to install `libkrb5-dev`.

[2019-04-11 04:46] ggreg commented on #78
`presto-python-client` *0.6.0* is now available and does not have the dependency to `requests_kerberos`. Do you need kerberos authentication or are you fine without it?

[2019-04-11 04:47] ggreg commented on #78
Can you just retry `pip install presto-python-client`? It should install version *0.6.0* and not require *kerberos* development packages.

[2019-04-11 05:14] gigname commented on #78
i dont need kerberos..fine without it..will try after office hours.will update u once done

[2019-04-11 05:47] gigname commented on #78
can you help me in setting up this also?
https://hub.docker.com/r/avapno/apache-phoenix/

im not able to access localhost:8765 maybe some kerberos isue..
please help

[2019-04-19 13:34] VicoWu commented on #48
@jacibreiro  Great thanks for your code example;
My python version is 2.7.16 and I cannot connect to my kerberized presto server , although my java-based client could connect to it successfully.
My Code sample is :
[code]
The error is:

[code]

Anyone could provide me some clues?
I am quite sure that kerberized presto server is fine.

[2019-05-06 19:11] ggreg commented on #48
@VicoWu the HTTPS request fails to verify the SSL certificate. That seems unrelated to kerberos because it happens in the `requests` HTTP client library and not in Presto. Are you sure you `CA_BUNDLE` and Presto server certificate are valid?

[2019-06-17 11:32] avisrivastava254084 opened #83 "How to give keep_default_na or similar function of pd.read_csv while creating a dataframe using pd.Dataframe(data)?"
I want to create a data frame from hive using Presto. I am done with it but with one exception: there are empty strings in my data which would be `NaN` if the corresponding CSV file is read using Pandas (`pd.read_csv()`).

I read several documentations but none address this issue.

My code for creating a data frame from Presto is pretty straightforward:
[code]

As you can see, there exists a line

[2019-06-25 03:36] ggreg commented on #83
@avisrivastava254084 can you describe the schema of the tables you are reading and provide an example with rows from this table? In other words, could you describe the data that you're querying from Presto and the expected values in the pandas `Dataframe`.

[2019-06-25 20:30] jaredvacanti commented on #74
Is current best practice to use an asyncio executor when using `presto-python-client` in existing asynchronous applications? Are there alternative methods?

[2019-06-26 11:30] akhandev commented on #63
Hi @matthewwardrop,
Did you get a chance to add this functionality?

[2019-06-26 19:56] matthewwardrop commented on #63
Not yet @akhandev . I'll try and put out a PR this week. :).

[2019-06-26 21:23] avisrivastava254084 commented on #83
@ggreg sorry for responding late, can we close this issue and instead discuss the main topic "Creating pandas data frame in presto client" instead? (This issue)[https://github.com/prestodb/presto/issues/12914]

[2019-06-26 21:26] ggreg commented on #83
This is the repository for the Presto Python client. The other issue is in the Presto engine codebase.

[2019-06-26 21:26] mbasmanova commented on #83
@avisrivastava254084 Aviral, prestodb/presto-python-client (this repo) is a proper place for Python client enhancements. The other repo, prestodb/presto, contains code for the Presto itself. Are you thinking of making changes in the presto client or presto code?

[2019-06-26 22:03] avisrivastava254084 commented on #83
I am so sorry, I am thinking in the presto client only. Let's continue here.

So, do you guys think we should have pandas data frame creation in here as
well? I could copy the code from PrestoHook of Airflow because I use both.
But I think it'd be easier for presto users who code in Python if they are
given this feature, creating pandas data frame using Presto.

Does this make sense?

On Thu, Jun

[2019-06-26 23:34] mbasmanova commented on #83
@avisrivastava254084 Makes sense to me.

[2019-06-26 23:47] ggreg commented on #83
I'd like to avoid introducing a dependency to pandas. I was thinking of providing an interface to return the data in the right format.

[2019-06-27 09:54] avisrivastava254084 commented on #83
@ggreg
I am telling you from my own experience, this library is in use and giving the data scientists the ability to create data frames is needed. Imagine being a data scientist and having rightful abstractions over S3(where data is stored), Hive(where meta is stored) and SQL(Presto, which is an engine).

Not only Pandas, we should also think of implementing the same for pyspark _i.e._ creating Sp

[2019-06-28 00:00] ggreg commented on #74
We usually rely on a plain `concurrent.futures.Executor` to execute concurrent Presto queries.

Are you talking about using `https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.run_in_executor` with a `concurrent.futures.Executor` to do Presto queries along async code?

We'd like to move to actually use async to support higher concurrent with a lower CPU and memory footprint for

[2019-07-01 08:41] wayjjpku opened #84 "can't drop or create table ,but can select * from table !!!"
at first ,i run the codes as showed  below,it's ok,but with warnings

**C:\Users\xxxx\AppData\Roaming\Python\Python36\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)**

  :

`import

[2019-07-16 23:41] mkapoor17 opened #85 "Best way to ignore SSL verification?"
I want to ignore SSL verification but not sure exactly how to do that. The complaint comes at `cur.execute(query)` and the error returned is

`urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='presto-dev.interactivedatastore.viasat.io', port=443): Max retries exceeded with url: /v1/statement (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl

[2019-07-18 22:28] ggreg commented on #85
What about:

[code]

[2019-07-18 22:31] ggreg commented on #83
@avisrivastava254084 i appreciate the value of support this. My main concern is to not conflate too many things into the Presto Python client library.

What do you think about providing these features in another library, called `presto-python-common` (i welcome better names too :) )?

[2019-07-19 16:47] avisrivastava254084 commented on #83
Name sounds good. Shall I begin?

On Fri, Jul 19, 2019, 04:01 Greg <notifications@github.com> wrote:

[2019-07-19 21:37] mkapoor17 commented on #85
@ggreg Awesome, worked like a charm, appreciate the help.

[2019-07-19 21:37] #85 closed

[2019-07-22 23:54] ggreg commented on #83
I'm preparing the repo so it follows the requirements for an open source repository and allow to easily contribute new modules. I'll ping when it is ready.

Meanwhile how would we call the module to manipulate dataframes? Should we just call it `prestodb.dataframe` and provide a `get(sql, **kwargs) -> pandas.DataFrame` function?

[2019-07-23 00:06] avisrivastava254084 commented on #83
Looks good to me.

On Tue, Jul 23, 2019, 05:24 Greg <notifications@github.com> wrote:

[2019-07-28 18:37] AntoniosHadji commented on #48
In the environment I am using, the suggested server to use was a load balancer which did not work with this client.  The following code sample worked when the server was a coordinator, and I downloaded the cert directly from this server with command in the code comment.  The presto web ui was available at this same url at `https://SERVER:PORT/ui`

this code sample worked for me on both MAC OSX, an

[2019-07-30 19:13] blcksrx opened #86 "requirements.txt is not present in the repository"
There is no **requirements.txt** in the repository however in the development section of README.md has been written to install the requirements by pip.

[2019-08-09 02:18] trabbani opened #87 "How to provide certificate file when connecting to presto"
I am having this error:
(Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')])")))

when trying to connect to presto using the prestodb client
[code]
In sqlalchamey I was able to make it work using this code:
[code]
How can I provide my cert.pem file to the prestodb client

[2019-08-09 02:48] trabbani commented on #87
Found the solution:
with prestodb.dbapi.connect(
    host='host.namel',
    port=443,
    user='myuser',
    catalog='catalog',
    schema='schema',
    http_scheme='https'
) as conn:
    conn._http_session.verify = '/path/to/cert.pem'
    cur = conn.cursor()
    cur.execute(sql_str)

[2019-08-09 02:48] #87 closed

[2019-08-21 21:52] ggreg commented on #84
You need to call `cur.fetchone()` after executing the `CREATE TABLE` statement.

[2019-08-21 21:53] ggreg commented on #84
The SSL warnings is unrelated to your issue.

[2019-08-21 21:57] ggreg commented on #84
Did you expect `CREATE TABLE` to be executed synchronously (see also #58) or was `cur.fetchonne()` only missing?

[2019-08-23 16:40] bgedik opened #88 "SqlAlchemy support"
Does this have SqlAlchemy support (as in pyhive)?

[2019-12-04 10:28] mirec-m opened #92 "Add support for query parameters"
I'm trying to call Presto SQL with a simple parameter ('SELECT * FROM my_table WHERE id=${id}'

I'm getting following error:

prestodb.exceptions.PrestoUserError: PrestoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 56:26: mismatched input '$'. Expecting: 'ALL', 'ANY', 'SOME', <expression>", query_id=20191204_102703_00302_6fjsq)

It seems that when calling cursor's execute function, t

[2020-01-06 13:01] HarvinderBhullar opened #93 "How to pass SSLKeyStorePath, SSLKeyStorePassword?"
I am trying to access the prestodb using Python Client, how do I pass key store, key store password to prestodb.dbapi.connect

[2020-02-21 16:31] adeora commented on #83
Is there any progress on this? It would be incredibly helpful for my use cases.

[2020-02-21 16:46] kebab-mai-haddi commented on #83
@ggreg any update? I am still up for this.

[2020-02-21 17:01] mbasmanova commented on #83
@ggreg no longer works on the project. @mayankgarg1990 Do you know what might help here?

[2020-02-21 17:04] kebab-mai-haddi commented on #83
Thanks @mbasmanova !

@mayankgarg1990
As you can see, there is clearly a need for this. Let me know if you guys need some context and if time is an issue, we can fasten this up on a call or something.

hi at aviralsrivastava dot com

[2020-03-05 08:21] dotmodusgeorge commented on #93
I'm having the exact same issue

[2020-04-09 15:31] kylestratis commented on #92
Big 👍
Looking at switching to PyHive because of the lack of support for query parameters, which seems like a pretty major oversight.

[2020-04-21 00:01] iurnah commented on #92
You can achieve what you want with some python string feature.

[code]
if `the_id` is a parameter defined before, you can execute the query by

[code]
notice some python3 string formatting feature is used to replace the parameter in the query string.

[2020-04-21 01:32] FeiZou opened #95 "Got PERMISSION_DENIED USER_ERROR while executing query"
Hey guys, I'm new to Presto and I'm trying to play around with it using presto-python-client. I successfully built the connection but when I run some basic `SELECT` queries like `SELECT COUNT(*) from <table_name>` I got following Error: `PrestoUserError(type=USER_ERROR, name=PERMISSION_DENIED, message="Access Denied: Cannot select from table <schema_name.table_name> ", query_id=*******)`. I alread

[2020-04-21 01:46] FeiZou commented on #95
Looks like `set role admin` doesn't really worked. I can see clearly that `cur.execute("set role admin")` return `true` to me, but the privilege got lost when next query got executed.

[2020-04-21 02:32] kylestratis commented on #92
@iurnah this is a very bad practice that causes query performance to suffer (compared to parametrized queries) and in many use cases open an application up to injection attacks.

See here: https://blog.codinghorror.com/give-me-parameterized-sql-or-give-me-death/

[2020-04-21 18:25] FeiZou commented on #95
Wait, maybe I should ask whether this library supports `set role` operation first?

[2020-05-01 00:06] #95 closed

[2020-05-11 15:31] davidecerri opened #96 "DbApi is not PEP 249 compliant"
https://www.python.org/dev/peps/pep-0249/#description

description should be allowed after execute. https://github.com/prestodb/presto-python-client/blob/master/prestodb/dbapi.py#L195
In the code, the description will not work unless a fetch is called.

Dropbox did this https://github.com/dropbox/PyHive/blob/master/pyhive/presto.py#L224 to support description after execute as required by PEP249

[2020-05-29 17:13] #96 closed

[2020-06-10 05:10] moiz-frost commented on #95
@FeiZou I see that you closed this. Were you able to come up with a solution?

[2020-06-11 15:05] safuente commented on #93
I have the same issue, I need to pass the following properties that are usually configured in driver properties in a presto sql client:

SSL = true
SSLTrustStorePassword = <password>
SSLTrustStorePath = <path_to_security_certificate>
socksProxy = localhost:8081

Is this possible in anyway using prestodb.dbapi.connect function?

[2020-07-01 09:05] ilanb1996 commented on #92
Any updates on this issue? IMO it’s very critical and a must have for sql clients

[2020-07-22 21:54] larandvit opened #99 "Unicode characters are not supported in Presto cursors"
Hello,

It seems Unicode characters are not supported in cursors. When a Presto table has Unicode characters, UnicodeEncodeError error comes up during retrieval of cursor values. cp1252 encoding is applied. Is there any setting to apply utf-8 encoding?

**Error message**
[code]

**Code**
[code]

For example, Unicode value is **￥**.

Thank you.

[2020-07-26 17:49] subbareddydagumati commented on #84
It should execute the CREATE TABLE synchronously like other database modules. currently cur.fetchone() has to be given as a workaround to run the create table statement or any other insert statements.

[2020-07-31 20:29] shawnzhu opened #100 "nextUri should be parsed instead of consumed directly"
## What happend

When accessing presto behind a HTTPS proxy, this python sdk won't work when trying to following up the `nextUri` from query statement. E.g., after creating a query, when following statement:

[code]

Notice that the `nextUri` does not starts with HTTPS.

As a consequence, the python client will fail since it tries to use the value of this `nextUri` directly:

https://github.com/pr

[2020-08-01 02:03] shawnzhu commented on #100
After using server configuration option `http-server.process-forwarded=true` from https://github.com/prestosql/presto/pull/3714 I don't have this problem anymore.

This case only happens when `http-server.process-forwarded=false` where it won't use the expect scheme when presto is behind a HTTPS proxy.

[2020-08-26 08:47] sys-temd commented on #92
I've just found out that presto-python-client `execute` function doesn't support parametrized query so I've to resort to `.format()` after taking assurance from my team that no direct user-input will be allowed to format the query. For now, everything is settled but in future it may change.

Is this feature being implemented?

[2020-10-06 05:14] ngupta1986 commented on #48
i am getting a 401 unauthorized issues. Could you please let me know what do you mean by didnt have permission over keytab? what permission we need for the user?

[2020-11-19 20:31] sumit-gupta-sgt commented on #93
I have same issue, Any update on this ?

[2021-01-13 09:32] HeChuanXUPT opened #103 "PrestoException elasticsearch query exception when field is empty"
elasticsearch query

some `content` value is empty, get this exception,
not exception by kibana, values show "-".

[code]

[2021-01-14 10:28] findepi commented on #103
Presto 3xx releases (now called Trino) are maintained at https://github.com/trinodb/trino.
Also, there is the `#troubleshooting` channel on Trino Community Slack (https://trino.io/slack.html)

[2021-01-14 10:28] #103 closed

[2021-05-26 16:18] cd1986 opened #104 "unable to connect trino coordinator url"
Found the solution:
[code]

_Originally posted by @trabbani in https://github.com/prestodb/presto-python-client/issues/87#issuecomment-519757134_

[2021-05-26 16:26] cd1986 commented on #87
Hi Trabanni,

using the below script I am unable to connect the trino co-ordinator URL,
could you please help here?

#Python Client
import trino
conn = trino.dbapi.connect(
      host ='[trino host]',
      port = 8443,
      user='[user]',
      catalog ='[catalog]',
      schema = '[schema]',
      http_scheme = 'https',
      auth=trino.auth.BasicAuthentication("[user]". "[password]"),
  )

[2021-06-08 17:29] bssuriya opened #105 "setting session parameters"
Not able to set session parameters, since it's due to nonetype object. Trying the equivalent like :
set session iterative_optimizer_timeout = '20.00m'

[2021-06-15 03:19] laurentco commented on #85
The solution proposed is only a workaround though, in some environments access is locked down to https only, so the question remains: Is there a way to ignore certificate verification when accessing via https?

[2021-06-24 12:53] tomasjanikds opened #106 "pandas.DataFrame.to_sql() or cursor.copy_from() functionality"
Is there any simple way on how to write pandas DataFrame (or csv file) into database?
When writing dataframes to Postgres usually I use either `pandas.DataFrame.to_sql()` or `cursor.copy_from()` in psycopg2.
However, I was not able to use the similar approach with presto. Is there any way of how to achieve this?

[2021-09-02 19:36] sgrbhinge commented on #87
Hello,

can somebody help with the same issue for providing cert file while connecting to Presto using **node.js** (with package presto-client). Currently I am facing error, _unable to get local issuer certificate_

[2021-09-28 00:06] keithpenrod opened #112 "Mogrification"
Is there any kind of mogrification/string cleaning when formatting strings?

For example, I want to execute a query like
INSERT INTO table VALUES (string_value)
with psycopg2, I understand it does the mogrify method to clean the string up before executing the query (eg, to prevent sql injection). Is there a way to do that with prestodb?

[2021-11-03 12:18] thiagodma commented on #92
Any updates here? I'm interested

[2021-12-01 10:02] anjul512 opened #113 "Batch inserts using presto client"
Hi,

is there any feature available with Python client where one can insert batches of data?

this is what i found while trying to understand if Presto python client provides batch inserts : https://github.com/trinodb/trino/pull/5507

[2021-12-06 09:56] katherine1191 opened #114 "How can i get the row data ?"
hi,
after browsing dbapi.py, I could not find how to return the field data of the row structure

needs (presto command line):
![image](https://user-images.githubusercontent.com/37826954/144825229-e56f8a97-d8c1-47c1-bb00-50baf8b47a12.png)

receive (presto-python-client):
![image](https://user-images.githubusercontent.com/37826954/144825458-d45dec69-6476-4f5b-9246-11a8abb0cc2f.png)

[2022-01-27 01:14] ebyhr commented on #113
Hi, since you are mentioning `trinodb/trino`, the expected repository is https://github.com/trinodb/trino-python-client

[2022-02-15 13:06] dchimeno commented on #74
Is something planned related to support async execution?

[2022-02-18 03:55] jyk4100 commented on #56
column names was what I was looking for '[part[0] for part in cur.description]' thank you

[2022-02-18 04:25] jyk4100 commented on #56
using chunksize option (not sure about pd.concat and copies)
[code]

[2022-03-08 12:44] anjul512 commented on #93
this can help to avoid SSL error : https://github.com/prestodb/presto-python-client/issues/87

[2022-04-15 03:36] hai1y1kr opened #115 "How can I get col_names?"
cursor.description return None

[2022-05-23 09:43] pgrz commented on #6
Do you have any work planned in this topic?

[2022-07-11 20:40] luzcn opened #116 "Got SSLCertVerificationError even I set the verifiy=False"
I'm using Presto-python-client version 0.8.2 in Jupyter notebook. I followed the example to create the connection and manually set the `conn._http_session.verify = False`, but I still got the SSLCertVerificationError.
[code]
I'm using Python 3.7, please help to fix it.

The exception trace
[code]

[2022-08-24 20:02] anikolaienko commented on #115
What's your query? My returns correctly in cursor.description

[2022-08-25 02:57] hai1y1kr commented on #115
This is my function，and all the cursor.description is None for different querys.
    def read_table(self, sql_sentence= r'show tables'):
        if self.is_connected():
            logger.debug('='*40)
            logger.debug('Executing: ' + sql_sentence)
            start_time = time.time()
            try:
                if self.plantform == 'presto':
                    sentence_1 = 'set sess

[2022-10-20 20:36] alexandermalyga commented on #84
I agree with @subbareddydagumati in that other DB API implementations do not require `cur.fetchonne()` in order to execute statements.
The folks over at Trino recently fixed this exact same issue here: https://github.com/trinodb/trino-python-client/commit/ed4f9daedad2646f9f68c0ca805a2cb94ab0b5ee

Could something similar be implemented in the Presto client?